[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/j624364/nvim.git
[submodule ".config/i3"]
	path = i3-endeavour-old
	url = https://github.com/j624364/i3.git
[submodule ".config/alacritty"]
	path = .config/alacritty
	url = https://github.com/j624364/alacritty.git
[submodule ".doom.d"]
	path = .doom.d
	url = https://github.com/j624364/.doom.d.git
[submodule "doom-emacs"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs.git
