# screenshots
*.png

# use the de/wm of system maybe change later
.xinitrc
.icons
.config/picom.conf
.config/qt5ct/qt5ct.conf
.ICEauthority
.Xauthority
.Xresources
.config/nitrogen

# main folders
Documents/
Music/
Public/
Templates/
Desktop/
Downloads/
Pictures/
Repos/
Videos/
opt/

# general
.config/discord/
.vim/
.viminfo
.notion-enhancer
.bash_history
.npm/
.nuget/
.pki/
.python_history
.w3m/
.xsession-errors
.xsession-errors.old
.local/
.dmrc
.dotnet/
.gtkrc-2.0
.mozilla/
.eawm.logd/
.gnupg/
.lesshst
.nanorc
.rustup/
.cargo/
.cache/
.config/xfce4
.config/xed
.config/wmderland
.config/systemd
.config/pulse
.config/nvim-qt
.config/notion-app-enhanced
.config/chromium
.config/Thunar
.config/autostart
.config/Joplin
.config/joplin-desktop
.config/libreoffice
.config/mimeapps.list
.config/dconf/
.config/Electron
.config/bpytop/error.log
.config/pavucontrol.ini

# kde (update when used)
.config/kdedefaults/
.config/discoverrc
.config/QtProject.conf
.config/Trolltech.conf
.config/akregatorrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/fontconfig/
.config/gwenviewrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kateschemarc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect
.config/kded5rc
.config/kdeglobals
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/khtml/
.config/kmail2rc
.config/kmixctrlrc
.config/kmixrc
.config/konquerorrc
.config/konsolerc
.config/korgacrc
.config/krunnerc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib/
.config/krunnerrc
.config/okularpartrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmarc
.config/plasmashellrc
.config/powermanagementprofilesrc
.config/session/
.config/spectaclerc
.config/systemsettingsrc
.config/webengineurlinterceptoradblockrc
.config/xsettingsd/
.kde4/
.config/KDE/
.config/arkrc
.config/dolphinrc

# gtk
.config/gtk-3.0/
.config/gtk-4.0/settings.ini
.config/gtkrc
.config/gtkrc-2.0
.config/gtk-2.0/

# user dirs
.config/user-dirs.dirs
.config/user-dirs.locale

# eneavouros
.config/EOS-greeter.conf
.config/EOS-initial-wallpaper.XFCE
.config/eos-update-notifier.first_init

# passwords / credentials
.git-credentials
.config/Bitwarden
