[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/j624364/nvim.git
[submodule ".config/alacritty"]
	path = .config/alacritty
	url = https://github.com/j624364/alacritty.git
[submodule "Scripts/dwm-bar"]
	path = Scripts/dwm-bar
	url = https://github.com/j624364/dwm-bar.git
[submodule ".config/helix"]
	path = .config/helix
	url = https://github.com/j624364/helix
